# /etc/rsyncd.conf

# Minimal configuration file for rsync daemon
# See rsync(1) and rsyncd.conf(5) man pages for help

# This line is required by the /etc/init.d/rsyncd script
pid file = /var/run/rsyncd.pid

uid = 1001
gid = 1001
use chroot = no
reverse lookup = no

[volume]
    hosts deny = *
    hosts allow = *
    read only = no
    path = /data
    auth users = , username:rw
    secrets file = /etc/rsyncd.secrets
    timeout = 600
    transfer logging = true